/* SingleItem */

.single-item {
  transition: background-color var(--transition-function)
    var(--transition-duration);
}

.single-item:hover .single-item__2lines {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.single-item__icon--artist {
  position: fixed;
  opacity: 1;
  transform: translateY(0);
  right: 25px;
  bottom: 25px;
}
@media (max-width: 480px) {
  .single-item__icon {
    right: 15px;
    bottom: 15px;
  }

  .single-item__texts {
    gap: 0;
  }
}
